body {
    width: 100%;
    height: 100%;
    position:relative;
}
.container-fluid{padding:0px;}
h1 {
  color:#2F4F4F;
  font-family:ropa sans;
  font-size:100px;
}
h2 {
  color:#2F4F4F;
  font-family:ropa sans;
  font-size:30px;
  padding-top: 30px;
  padding-bottom:30px;
  
}
h3 {
  color:#008080;
  font-family:ropa sans;
  font-size:50px;
  padding-top: 30px;
}
h31{
  color:white;
  font-family:ropa sans;
  font-size:50px;
  padding-top: 30px;
}
p {
  color:#330019;
  font-family:ropa sans;
  font-size:25px;
  padding-top: 30px;
}
pport{
  color:black;
  font-family:ropa sans;
  font-size:20px;
}
pcont{
  color:black;
  font-family:ropa sans;
  font-size:25px;
  margin-top: 30px;
}
.principal-background{
  background-image:url(images/image1.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  padding-top: 200px;
  padding-bottom:100px;
}
.border-image{
  border-radius:1000px;
  border-color:#2F4F4F;
  border-width:10px;
  border-style:solid;
  width:200px;
  margin:50px 0px 50px 0px;
}
.about-background{
  background:white;
  padding:30px 50px 30px 50px;
}
.portafolio-background{
  background-color:#008080;
  font-family:ropa sans;
  padding:30px 50px 30px 50px;
}
.contact-background{
  background-image:url(images/contactme.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  padding: 50px 50px 100px 50px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2F4F4F;
    position: fixed;
    z-index: 999;
    width:100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    font-family:ropa sans;
    font-size:20px;
    text-align: center;
    padding: 10px 10px;
}

li a:hover {
  background-color: white;color:black;text-decoration: none;}

.transbox{
  padding: 0px 50px 50px 50px;
  margin: auto;
  max-width:700px;
  background-color: rgba(255,255,255,0.4);
  border: 1px solid black;

}
.inputcss{
  width:100%;
  border: 2px solid black;
    border-radius: 4px;
}
.buttoncss{
  margin: 10px auto 20px auto;
  padding: 0px 30px 0px 30px;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  display:inline;
  
}
.faicons{
  color:black;
  display: block;  
  font-size:300%;
}

.locationcss{
  overflow:hidden;
  text-decoration:none;
  color:#2F4F4F;
  font-family:ropa sans;
  font-size:30px;
  padding-top: 30px;
  padding-bottom:30px;
}


